<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="no">

    <bean class="com.tui.fly.cli.AirportsCommand">
        <constructor-arg ref="airports"/>
    </bean>

    <bean class="com.tui.fly.cli.ConnectionsCommand">
        <constructor-arg ref="airports"/>
        <constructor-arg ref="flights"/>
    </bean>

    <bean class="com.tui.fly.cli.DestinationsCommand">
        <constructor-arg ref="airports"/>
        <constructor-arg ref="flights"/>
    </bean>

    <bean class="com.tui.fly.Application"/>
    
    <bean id="airports" class="com.tui.fly.service.AirportRegistry"/>

    <bean id="flights" class="com.tui.fly.service.FlightCatalog"/>

    <bean id="airportData" class="org.springframework.core.io.ClassPathResource">
        <constructor-arg value="airports.csv"/>
    </bean>

    <bean id="flightData" class="org.springframework.core.io.ClassPathResource">
        <constructor-arg value="flights.csv"/>
    </bean>

    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="com.tui.fly.domain.ConnectionToStringConverter"/>
            </set>
        </property>
    </bean>

</beans>
