<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="no">

    <bean id="airports" class="com.tui.fly.service.AirportRegistry">
        <constructor-arg value="classpath:airports.csv"/>
    </bean>

    <bean id="flights" class="com.tui.fly.service.FlightCatalog">
        <constructor-arg ref="airports"/>
        <constructor-arg value="classpath:flights.csv"/>
    </bean>

    <bean class="com.tui.fly.Application">
        <constructor-arg ref="airports"/>
        <constructor-arg ref="flights"/>
    </bean>

</beans>