<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
    <form action="#" method="post" th:action="@{/airport}" th:object="${form}" th:fragment="airportForm">
        <label th:for="${#ids.next('iataCode')}" th:text="#{airport} + ':'">Airport:</label>
        <input type="text" th:field="*{iataCode}" />
        <label th:for="${#ids.next('country')}" th:text="#{country} + ':'">Country:</label>
        <select th:field="*{country}">
            <option value="" th:text="#{country.any}">anywhere</option>
            <option th:each="country : ${countries}"
                th:value="${country.isoCode}"
                th:text="${country.getName(#locale)}">${country}</option>
        </select>
        <input type="submit" value="Search" th:attr="value=#{search}"/>
    </form>
</body>
</html>
